<!DOCTYPE html>
<html lang="it" data-bs-theme="dark" class="text-white">
<head>
    <title>HomePage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-4 shadow-lg p-3 mb-5">
    <div class="container px-3">
        <a class="navbar-brand" href="#">Fanta_Rinuncia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link" href="/regolamento"><i class="bi bi-people-fill me-2"></i>Regolamento</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="#"><i class="bi bi-telephone-fill me-2"></i>Contact</a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Account</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <form role="search" method="get" id="search-form" action="/" class="d-flex ms-auto justify-content-center">
                    <div class="input-group">
                        <input type="text" value="" name="s" id="search-input" placeholder="Cerca in base al nome.." class="form-control"  aria-label="Cerca">
                        <span class="input-group-text" id="basic-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="text-light" width="1rem" height="1rem" viewBox="0 0 24 24" style="" lc-helper="svg-icon" fill="currentColor">
                                <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                            </svg>
                        </span>
                    </div>
                </form>
        </div>
    </div>
</nav>


<div class="container d-flex px-3">
    <div class="row px-3">
      <div class="col-xs-12 col-sm-12 col-md-6 my-5">
        <div class="container" id="cards-container">
            {% for person in data %}
                <div class="col-md-5 card-item">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">{{ person.firstname }} {{ person.lastname }} </p>
                            <p class="points-value">{{ person.points }} distasi</p>
                            <input type="checkbox" class="btn-check" id="btn-check-{{ loop.index }}" autocomplete="off">
                            <label  class="btn btn-outline-light" for="btn-check-{{ loop.index }}">scegli me</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div id="search-message" style="display: none;">Nessuna persona trovata con questo nome</div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 my-5" id="squad-maker">
                  <figure>
                  <blockquote class="blockquote">
                    <h2>La tua squadra</h2>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                  <cite title="Source Title">  Fai la scelta giusta </cite>
                  </figcaption>
                </figure>
                <div id="squadra-container" class="card-body border-0">
                    <!-- Qui verranno aggiunti dinamicamente gli elementi della squadra -->
                </div>
                <div id="alert-container"></div>
                <div id="alert-container-2"></div>
                <div id="team-points" class="mb-2"></div>
                <button id="salva-squadra-button" class="btn btn-success invisible" onclick="salvaSquadra()">Salva Squadra</button>
                <button onclick="topFunction()" id="myBtn" title="Go to top">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
        </div>
    </div>
</div>



    <footer class="container sticky-bottom">
        <hr>
        <p class="footer-heart">
      Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
    <img class="emoji" alt="heart" height="15" width="15" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> by <a class="text-white" href="https://github.com/wassupiari">me</a>
    </p>
    </footer>


    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery/jquery-3.7.1.min.js')}}"></script>
</body>
</html>
