<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" >
<head>
    <meta charset="UTF-8">
    <title>Squadre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded sticky-top shadow-lg p-3 mb-5" >
        <div class="container px-3">
            <a class="navbar-brand" href="#">Fanta_Rinuncia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-md-auto gap-2">
                    <li class="nav-item rounded">
                        <a class="nav-link" href="/regolamento"><i class="bi bi-people-fill me-2"></i>Regolamento</a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link" href="#"><i class="bi bi-telephone-fill me-2"></i>About</a>
                    </li>
                    <li class="nav-item dropdown rounded">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<div class="container-fluid text-white px-3">
    <div class="row justify-content-center align-items-cente">
        <div class="col-xs-12 col-sm-12 col-md-6 my-5">
            <div class="row gutters-sm">
                    <div class="container-fluid">
                      <div class="card mb-4">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center ">
                            <img id="user-image" src="" alt="Admin" class="rounded mx-auto d-block" width="200">
                            <script>
                                fetch('/api/get_user_image')
                                    .then(response => response.text()) // Si suppone che l'API restituisca solo l'URL dell'immagine come testo
                                    .then(imageLink => {
                                        if (imageLink) {
                                            document.getElementById('user-image').src = imageLink;
                                        } else {
                                            console.error('Nessun URL immagine disponibile.');
                                        }
                                    })
                                    .catch(error => console.error('Errore durante il recupero dell\'immagine:', error));
                            </script>
                            <div class="mt-3">
                                {% if username == session['username'] %}
                              <h4>{{ username }}</h4>
                              <p class="text-primary-white mb-1">{{ bio }}</p>
                                {% for badge in badges %}
                               <span class="badge custom-badge badge-dark mr-2 mb-2">{{ badge }}</span>
                                {% endfor %}
                            </div>
                               {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-6 my-5">
                  <div class="card text-dark mb-1">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <h2 class="text-white mb-3">La tua squadra</h2>
                        </div>
                        <div class="col text-end">
                          <span class="badge bg-light text-dark mb-3">totale distasi spesi: {{total_points}}</span>
                        </div>
                      </div>
                      <div class="row">
                        <ul class="list-group mb-auto">
                          {% for membro in squadre[username] %}
                          <div class="list-group mb-2">
                            <div class="list-group-item d-flex justify-content-between align-items-center border-0">
                              <span class="fw-bold">{{ membro.name }}</span>
                              <span class="badge bg-warning text-light">{{ membro.points }} distasi</span>
                            </div>
                          </div>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
