<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" >
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded sticky-top shadow-lg p-3 mb-5">
            <div class="container px-3 text-white">
                <a class="navbar-brand" href="#">fantarinuncia.live</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/regolamento"><i class="bi bi-people-fill me-2"></i>Regolamento</a>
                        </li>

                        <li class="nav-item rounded">
                            <a class="nav-link" href="/home"><i class="bi bi-telephone-fill me-2"></i>Home</a>
                        </li>
                    <li class="nav-item dropdown rounded">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<div class="container px-4 " id="custom-cards">
    <h2 class="pb-2 border-bottom my-5">Benvenuto - {{username}}</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" id="user-image-container">
                    <script>
                        fetch('/api/get_user_image')
                            .then(response => response.json()) // Analizza la risposta come JSON
                            .then(data => {
                                const imageLink = data.image_link;
                                if (imageLink) {
                                    // Se viene restituito un URL valido, imposta l'URL dell'immagine come sfondo del div
                                    document.getElementById('user-image-container').style.backgroundImage = `url('${imageLink}')`;
                                } else {
                                    // Se non viene restituito alcun URL immagine, stampa un messaggio di errore nella console
                                    console.error('Nessun URL immagine disponibile.');
                                }
                            })
                           .catch(error => console.error('Errore durante il recupero dell\'immagine:', error));
                    </script>
            <div class="d-flex flex-column h-100 p-5 pb-3  text-shadow-1" id="content-wrapper">
                {% if username == session['username'] %}
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center">{{ bio }}</h2>
                <ul class="d-flex list-unstyled">
                    <li class="d-flex align-items-center mt-5">
                        {% for badge in badges %}
                        <span class="badge badge-light bg-dark mx-1">{{ badge }}</span>
                        {% endfor %}
                    </li>
                    <li class="d-flex align-items-center mx-auto mt-5 ">
                        <small class="fst-italic ">creato {{differenza}} giorni fa</small> <!-- Questo è il testo che deve essere sostituito -->
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>


            <div class="col p-5 pb-3 h-100 m-auto">
                <div class="row d-flex flex-column h-100 p-5 pb-3 text-white border rounded-5">
                    <h2 class="display-6 lh-1 fw-bold text-center mb-3">Squadra</h2>
                    <div class="col text-center">
                        <span class="d-inline-flex mt-2 px-2 py-1 fw-semibold text-light-emphasis bg-warning-subtle border border-warning-subtle rounded-2 mb-3">totale distasi spesi: {{total_points}}/50</span>
                    </div>
                    {% if username is not in squadre %}
                            <span class="fw-bold list-item mb-3 text-center">Non hai ancora una squadra</span>
                            <a class="btn btn-outline-primary" href="/home">Fallo adesso</a>
                            {% endif %}
                    {% for membro in squadre[username] %}
                    <div class="col  mb-2">
                        <div class="list-group d-flex flex-column justify-content-between align-items-center border-0 pb-3">
                            <li class="fw-bold list-group-item d-flex justify-content-between align-items-center border-0">{{ membro.name }}</li>
                            <span class="d-inline-flex mt-2 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">{{ membro.points }} distasi</span>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="alert-del"></div>
                </div>
            </div>

    </div>
</div>


    <footer class="container fixed">
        <hr>
          <p>© FantaRinuncia 2024</p>
    </footer>

    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery/jquery-3.7.1.min.js')}}"></script>
</body>
</html>
