/*
PROFILE
*/



    .badge-dark {
      background-color: #343a40;
    }
/* Spazio tra i badge */
.custom-badge {
    margin-right: 5px; /* Regola la distanza orizzontale tra i badge */
    margin-bottom: 5px; /* Regola la distanza verticale tra i badge */
}
