html,body {
  font-family: Montserrat, sans-serif;
    max-width: 100%;
  overflow-x: hidden;

}

/*
NAVBAR
*/
#nav-box{
  padding: 10px;

  width: 100%;


  position: sticky;
  top: 0px;
}
.navbar-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}



.navbar-nav .nav-item:hover .a {
  background-color: #ffffff;
  color: #000;
}


/*
SEARCH BAR
*/


.search-container{
  margin-top: 20px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

/*
SQUAD BUILDER
*/


/* Stile generale per il contenitore principale */
#squad-maker {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  text-align: justify;
  margin-top: 75px;

}

/* Stile per il paragrafo "La tua squadra" */
#squad-maker p {
  font-weight: bold;
  font-size: 18px;
}

/* Stile per il contenitore della squadra */
#squadra-container {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

/* Stile per il contenitore degli avvisi */
#alert-container {
  margin-bottom: 10px;
}

/* Stile per il pulsante "Salva Squadra" */
#salva-squadra-button {
  background-color: #2D3250;
  position: relative;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Stile per il pulsante "Salva Squadra" al passaggio del mouse */
#salva-squadra-button:hover {
  background-color: #7077A1;
}

/*
CARDS
*/

/* CSS per il layout flessibile delle card */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.card-item {
    flex: 1 1 calc(33.33% - 20px);
    margin-bottom: 10px;
}


/* Stile generale per il contenitore delle carte */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

/* Stile per le carte individuali */
.card-item {
  margin: 2px;
}

/* Stile per il testo delle carte */
.card-text {
  font-weight: bold;
}

/* Stile per il valore dei punti */
.points-value {
  color: #B80000;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* Cambia il font */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Aggiunge un effetto ombra */
  transition: transform 0.2s ease-in-out; /* Aggiunge una transizione */
}

.points-value:hover {
  transform: scale(1.1); /* Effetto di ingrandimento al passaggio del mouse */
}


/*
FOOTER
*/

.footer-heart{text-align:center;
  font-family: open sans, sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  position: sticky;
}

.footer-heart a{border-bottom: 1px solid #453886;color: #453886;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}


/*
SCROLLBAR
*/


  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #ccc #cccccc;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #cccccc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 3px solid #ccc;
  }

/*  GO UP BUTTON*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2D3250;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #7077A1;
}


/*
PROFILE
*/

.membro-name {
  font-weight: bold;
  color: #fff;

}
.badge-dark {
    background-color: #343a40;
}

.custom-badge {
    margin-right: 5px; /* Regola la distanza orizzontale tra i badge */
    margin-bottom: 5px; /* Regola la distanza verticale tra i badge */
}

/* FAQ page */
body {
  margin: 0;
  padding: 0;
}

/* Stile generale della sezione FAQ */
.section-faq {
  padding-top: 24px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
  overflow: hidden;
}

/* Stile del titolo */
.section-faq h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

/* Stile dei paragrafi */
.section-faq p {
  font-size: 16px;
  line-height: 1.6;
  color: #666666;
}

/* Stile dei collegamenti */
.section-faq a {
  color: #007bff;
  text-decoration: none;
}

.section-faq a:hover {
  text-decoration: underline;
}

/* Stile delle domande */
.section-faq .faq-question {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Stile delle risposte */
.section-faq .faq-answer {
  font-size: 16px;
  margin-bottom: 20px;
}






.section-faq .contact-link p {
  margin-bottom: 5px;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}


.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Stile dei margini inferiori per le colonne */
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}
