<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manutenzione</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 h-screen flex flex-col justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-md flex flex-col items-center">
        <h1 class="text-3xl font-semibold mb-4">Sito in manutenzione</h1>
        <p class="text-lg mb-4">Ci scusiamo per il disagio, il sito è temporaneamente non disponibile per manutenzione.</p>
        <p class="text-gray-600 mb-8">Controlla di nuovo più tardi.</p>
        <a href="https://github.com/wassupiari/fantarinuncia" target="_blank" class="flex items-center text-gray-600 hover:text-gray-800">
            <i class="fab fa-github mr-2"></i>
            Vai alla repository GitHub
        </a>
    </div>
</body>
</html>
