<!DOCTYPE html>
<html lang="it" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
</head>
<body>
<div class="container-fluid fixed">
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <div class="d-block px-3 py-2 text-center text-bold text-white old-bv alert alert-danger text-center w-100">
        Fantarinuncia è in fase di sviluppo.
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded sticky-top shadow-lg p-3 mb-5">
        <div class="container px-3 text-white">
            <a href="#" class="navbar-brand">Fanta_Rinuncia</a>
            <button aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNav" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="/regolamento" class="nav-link"><i class="bi bi-people-fill me-2"></i>Regolamento</a>
                    </li>

                    <li class="nav-item rounded">
                        <a href="/" class="nav-link"><i class="bi bi-telephone-fill me-2"></i>Home</a>
                    </li>
                    <li class="nav-item svg-item">
                        <a href="https://github.com/wassupiari" class="">
                            <svg stroke-linejoin="round" stroke-linecap="round" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" height="24" width="24" class="icon icon-tabler icon-tabler-brand-github" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
                                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 my-5">
                <h2 class="mb-4">Registrazione</h2>
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input placeholder="username" name="username" id="username" class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input placeholder="password" name="password" id="password" class="form-control" type="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="bio">bio</label>
                        <input placeholder="bio" name="bio" id="bio" class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image_link">Link dell'immagine</label>
                        <input placeholder="image link" name="image_link" id="image_link" class="form-control" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Registrati</button>
                    <a href="/auth/login" class="btn btn-outline-primary">Login</a>
                </form>
            </div>
        </div>
    </div>

    <div aria-atomic="true" aria-live="assertive" role="alert" class="toast align-items-center text-bg-primary border-0">
      <div class="d-flex">
        <div class="toast-body">
            {{alert_message}}
        </div>
        <button aria-label="Close" data-bs-dismiss="toast" class="btn-close btn-close-white me-2 m-auto" type="button"></button>
      </div>
    </div>

    <footer class="container fixed-bottom px-3">
        <hr>
          <p>© FantaRinuncia 2024</p>
    </footer>

    <script src="{{url_for('static', filename='script.js')}}"></script>

    <script src="{{url_for('static', filename='bootstrap/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery/jquery-3.7.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='DOMpurify/purify.min.js')}}"></script>
</body>
</html>
